body {
    font-family: Arial, sans-serif;
}

.HashTabel{
    width: 50%
}

h1 {
    color: #f7e305;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"] {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
    float: right;
    width: 30%;
    margin-left: 10px;
}
li {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #dee2e6;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #f8f9fa;
}