body {
    font-family: Arial, sans-serif;
}

.container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

h1 {
    color: #f7e305;
    display: flex;
    justify-content: center;
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="password"] {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
}

button[type="submit"] {
    background-color: #f7e305;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #f7e305;
}

.switch-form {
    display: none;
    animation: fadeIn 0.5s;
}

.switch-form.active {
    display: block;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}